<header class="absolute inset-x-0 top-0 z-50">
  <nav [ngClass]="background" aria-label="Global" class="flex items-center justify-center p-6 lg:gap-x-6 lg:px-8">
    <a class="link-secondary rounded-md px-3 py-2 text-sm/6 font-semibold"
       routerLink="/intro" routerLinkActive="bg-gray-900" ariaCurrentWhenActive="page">Home</a>
    <a class="link-secondary rounded-md px-3 py-2 text-sm/6 font-semibold"
       routerLink="/resume" routerLinkActive="bg-gray-900" ariaCurrentWhenActive="page">Resume</a>
    <a class="link-secondary rounded-md px-3 py-2 text-sm/6 font-semibold"
       routerLink="/projects" routerLinkActive="bg-gray-900" ariaCurrentWhenActive="page">Projects</a>
    <a class="link-secondary rounded-md px-3 py-2 text-sm/6 font-semibold"
       routerLink="/contact" routerLinkActive="bg-gray-900" ariaCurrentWhenActive="page">Contact</a>
  </nav>
</header>
